{{with .Site.Params.webAnalytics.cloudflare}}
    {{if .enabled}}
        {{if .token}}
            <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ .token }}"}'></script>
        {{end}}
    {{end}}
{{end}}

{{with .Site.Params.webAnalytics.umami}}
    {{if .enabled}}
        {{if .url}}
            {{if .id}}
            <script defer src="{{ .url }}" data-website-id="{{ .id }}"></script>
            {{end}}
        {{end}}
    {{end}}
{{end}}